# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vscode*

simlib/examples/ball
simlib/examples/bessel
simlib/examples/ball2
simlib/examples/ctest
simlib/examples/heating
simlib/examples/lorenz
simlib/examples/model2
simlib/examples/model2-timeout
simlib/examples/model3
simlib/examples/model4
simlib/examples/model5
simlib/examples/multiexp
simlib/examples/network
simlib/examples/pbx
simlib/examples/procesor
simlib/examples/rc
simlib/examples/rlc
simlib/examples/test3D
simlib/examples/wheel
simlib/examples/wheel2

example1
main
chipshortage

*.dat
*.txt